{% extends 'base.html' %} <!-- 상속 -->
{% block content %}
<!-- Carousel -->
<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/images/다운로드 (7).png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1><strong>Find Your Art</strong></h1>
        <h5>홍더비에서 마음에 드는 미술작품을 찾아보세요.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/images/19D03_850x316_72.jpg" class="d-block w-100" alt="...">
      <div class="text-dark carousel-caption d-none d-md-block">
        <h1><strong>Be A Seller</strong></h1>
        <h5>자신이 만든 미술작품을 판매해보세요.</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/static/images/Mark-rothko-marcus-rothkowitz-new-forms.jfif" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1><strong>Buy Some Artworks</strong></h1>
        <h5>새로운 화가를 만들어주세요.</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
    </div>
</div>
<!-- Carousel -->

<div class="row row-15 justify-content-center border-top my-5">
{% if item_list %}
    {% for item in item_list %}
    <div class="box m-5 mt-6">
        {% if item.image %}
        <figure><img src="{{ item.image.url }}" class="img-thumbnail rounded" alt="..."></figure>
        {% endif %}
        <a class="text-dark" href="{% url 'art:detail' item.id %}" style="text-decoration:none"><h6>🎨{{ item.subject }}</h6></a>  <!-- item.id는 인자 -->
        <span class="float-end small">
            추천<span class="badge" style="background-color: #20c997;">{{item.voter.all.count}}</span>
            댓글<span class="badge" style="background-color: #20c997;">{{item.comment_set.count}}</span>
            </span>
    </div>
    {% endfor %}
{% else %}
    <div class="p-5">
    <p><h5>존재하는 게시글이 없습니다.</h5></p>
    </div>
{% endif %}
</div>

    <div class="container my-5">
        <div class="row">
            <div style="width: 110px;">
            <select class="form-control so">
            <option value="recent" {% if so == 'recent' %}selected{% endif %}>최신순</option>
            <option value="recommend" {% if so == 'recommend' %}selected{% endif %}>추천순</option>
            </select>
        </div>
        <!-- 페이징처리 시작 -->
        <div class="col">
        <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if item_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ item_list.previous_page_number }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in item_list.paginator.page_range %}
        {% if page_number >= item_list.number|add:-4 and page_number <= item_list.number|add:4 %}
            {% if page_number == item_list.number %}
            <li class="page-item active" aria-current="page" >
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if item_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ item_list.next_page_number }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
        </ul>
            </div>
        <div class="col-1">
        <a href="{% url 'art:item_create' %}" class="btn text-white" style="background-color: #20c997; white-space: nowrap;">글쓰기</a>
    </div>
        </div>
    <!-- 페이징처리 끝 -->
    </div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });
    $(".so").on('change', function() {
        $("#so").val($(this).val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}
