{% extends 'base.html' %} <!-- 상속 -->
{% block content %}
<div class="mb-5">
    <div class="row border-bottom my-3 py-1">
        <div class="col">
            <h3>내가 쓴 댓글</h3>
        </div>
        <div class="col-2 pt-4">
            <a href="{% url 'common:my_comment' %}" style="color:black;"><h6>전체보기..</h6></a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" style="width:50%">내용</th>
            <th scope="col">등록일자</th>
        </tr>
        </thead>
        <tbody>
        {% if my_comment %}
        {% for comment in my_comment %}
        <tr style="white-space: nowrap;">
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'art:detail' comment.item.id %}" style="color:black; text-decoration:underline;">{{ comment.content }}</a></td>
            <td><small>{{ comment.create_date }}</small></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">등록한 댓글이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}