{% extends 'base.html' %}
{% block content %}
<div class="container mb-5">
  <div class="row">
      <div class="col">
          <h3 class="border-bottom my-4 pb-3">계정 정보</h3>
          <div class="card" style="width: 26rem;">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: {{ request.user }}</li>
            <li class="list-group-item">E-mail: {{ request.user.email }}</li>
            <li class="list-group-item">최종 로그인: {{ request.user.last_login }}</li>
            <li class="list-group-item">가입 날짜: {{ request.user.date_joined }}</li>
            </ul>
          </div>
      </div>
      <div class="col">
        <div class> <!-- 갤러리 형태로 보기-->
            <div class="row border-bottom my-3 py-1">
                <div class="col">
                <h3>내가 쓴 글</h3>
                </div>
                <div class="col-2 pt-4">
                <a href="{% url 'common:my_item' %}" style="color:black; white-space: nowrap;"><h6>전체보기..</h6></a>
                </div>
            </div>
            <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col" style="width:50%">제목</th>
                <th scope="col">등록일자</th>
                </tr>
            </thead>
            <tbody>
            {% if my_item_list %}
            {% for item in my_item_list %}
            {% if forloop.counter < 6 %}
                <tr style="white-space: nowrap;">
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'art:detail' item.id %}" style="color:black; text-decoration:underline;">{{ item.title }}</a></td>
                <td><small>{{ item.create_date }}</small></td>
                </tr>
            {% endif %}
            {% endfor %}
            {% else %}
            <tr>
            <td colspan="3">등록한 글이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
            </table>
            </div>
        <div class="mb-5">
            <div class="row border-bottom my-3 py-1">
                <div class="col">
                <h3>내가 쓴 댓글</h3>
                </div>
                <div class="col-2 pt-4">
                <a href="{% url 'common:my_comment' %}" style="color:black; white-space: nowrap;"><h6>전체보기..</h6></a>
                </div>
            </div>
            <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col" style="width:50%">내용</th>
                <th scope="col">등록일자</th>
                </tr>
            </thead>
            <tbody>
            {% if my_comment_list %}
            {% for comment in my_comment_list %}
            {% if forloop.counter < 6 %}
                <tr style="white-space: nowrap;">
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'art:detail' comment.item.id %}" style="color:black; text-decoration:underline;">{{ comment.content }}</a></td>
                <td><small>{{ comment.create_date }}</small></td>
                </tr>
            {% endif %}
            {% endfor %}
            {% else %}
            <tr>
            <td colspan="3">등록한 댓글이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
            </table>
        </div>
      </div>
  </div>
</div>
{% endblock %}