.figure {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    height: 300px;
    }
.carousel-inner img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 480px;
    }
.box {
    display: inline-block;
    width: 350px;
    height: 400px;
    margin-top: 20px;
    }
.detail-box {
    display: inline-block;
    width: 600px;
    height: 450px;
    }
.pagination > li > a
{
    background-color: white;
    color: #20c997;
}
.pagination > li > span:hover
{
    color: #20c997;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a
{
    color: white;
    background-color: #20c997 !Important;
    border: solid 1px #20c997 !Important;
}
.pagination > .active > a:hover
{
    background-color: #20c997 !Important;
    border: solid 1px #20c997;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    max-height: 430px;
}
.comment {
    border-top:dotted 1px #ddd;
    font-size:0.7em;
}
a { text-decoration:none }
.mt-6 {
  margin-top: 66px !important;
}
.row-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}