<div class="container-fluid" style="background-color: #20c997">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-5 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="text-white">&copy; 2021 Hongtheby's, Inc</span>
    </div>
    <!-- search바 -->
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!-- search바 -->
  </footer>
</div>