<div class="container-fluid" style="background-color: #20c997">
  <footer class="d-flex flex-wrap justify-content-around align-items-center py-5 border-top">
    <div class="col-md-5 d-flex align-items-center">
      <a href="#" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img src="/static/images/bootstrap-fill.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a>
      <span class="text">&copy; 2021 Hongtheby's, Inc</span>
    </div>
    <!-- search바 -->
    <nav class="navbar navbar-light">
      <div class="container">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <!-- search바 -->
    <ul class="list-unstyled d-flex">
      <li class="ms-2"><a class="link-dark" href="#">
        <img src="/static/images/twitter.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a></li>
      <li class="ms-2"><a class="link-dark" href="#">
        <img src="/static/images/instagram.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      </a></li>
      <li class="ms-2"><a class="link-dark" href="#">
        <img src="/static/images/facebook.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        </a></li>
    </ul>
  </footer>
</div>