<!-- 네비게이션 바 -->
{% if user.is_authenticated %}
<ul class="nav justify-content-end">
    <li class="nav-item mx-4 my-1">{{ request.user }}님</li>
</ul>
{% endif %}
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand mx-4" href="{% url 'art:index' %}"><figure style="width: 22%;"><img src="/static/images/클린로고.png" class="figure-img img-fluid rounded"></figure></a>
</nav>
<ul class="nav nav-tabs justify-content-center border-bottom py-2">
  <li class="nav-item mx-3">
    <a class="nav-link" style="color: #20c997" aria-current="page" href="{% url 'art:index' %}"><strong>미술작품</strong></a>
  </li>
  <li class="nav-item mx-3">
    <a class="nav-link" style="color: #20c997" href="{% url 'art:sculpture_view' %}"><strong>조각품</strong></a>
  </li>
  <li class="nav-item mx-3">
    <a class="nav-link" style="color: #20c997" href="{% url 'art:ceramic_view' %}"><strong>도예품</strong></a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" style="color: #20c997" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><strong>계정관리</strong></a>
    <ul class="dropdown-menu">
        {% if user.is_authenticated %}
        <li><a class="dropdown-item" href="{% url 'common:mypage' %}" style="color: #20c997">마이페이지</a></li>
        <li><a class="dropdown-item" href="{% url 'common:logout' %}" style="color: #20c997">로그아웃</a></li>
        {% else %}
        <li><a class="dropdown-item" href="{% url 'common:login' %}" style="color: #20c997">마이페이지</a></li>
        <li><a class="dropdown-item" href="{% url 'common:login' %}" style="color: #20c997">로그인</a></li>
        {% endif %}
    </ul>
  </li>
  <li class="nav-item mx-3">
    <a class="nav-link" style="color: #20c997" href="{% url 'common:credit' %}"><strong>홍더비 소개</strong></a>
  </li>
</ul>
<!-- 네비게이션 바 끝 -->